{% extends 'site_template.html' %}

{% block imports %}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="/static/js/paypal-render.js"></script>
{% endblock %}


{% block body %}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">Balance</div>
            <div class="panel-body">

                <div class="row">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-offset-3">

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped balance-table">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Paied on date</th>
                                                <th>Paied on time</th>
                                                <th>End of credit</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for item in payments %}
                                                </tr>
                                                    <td>{{ current_user.username }}</td>
                                                    <td>{{ item.payed_on.date() }}</td>
                                                    <td>{{ item.payed_on.strftime('%H:%M:%S') }}</td>
                                                    <td>{{ item.end_date }}</td>
                                                    <td>{{ item.amount }}</td>
                                                 </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                    <div id="paypal-button"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

{% endblock %}