{% extends 'site_template.html' %}

{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">Edit password</div>
            <div class="panel-body">

                <div class="row">

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">

                                <form action="/reset-password" method="POST" name="reset-password" class="edit-pass-form">
                                    <label>Current Password</label>
                                    <div class="form-group pass_show">
                                        <input type="password" value="" name="current_pass" class="form-control"
                                            placeholder="Current Password">
                                    </div>
                                    <label>New Password</label>
                                    <div class="form-group pass_show">
                                        <input type="password" value="" name="new_pass" class="form-control"
                                            placeholder="New Password">
                                    </div>
                                    <label>Confirm Password</label>
                                    <div class="form-group pass_show">
                                        <input type="password" value="" name="conf_pass" class="form-control"
                                            placeholder="Confirm Password">
                                    </div>
                                    <p style="color: {{ color }}">{{ message }}</p>
                                    <div class="form-group pass_show">
                                        <button class="btn btn-info reset-pass-btn"
                                            onclick="return false;">save</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

{% endblock %}