{% extends 'site_template.html' %}

{% block imports %}
    <!--suppress ALL -->
    <script src="/static/js/jspdf.min.js"></script>
    <script src="/static/js/html2canvas.min.js"></script>
{% endblock %}

{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">Upload Your Image</div>
            <div class="panel-body">

                <div class="row" id="nodeToRenderAsPDF">
                    <div class="col-md-8 text-center col-md-offset-3">
                        <div id="upload-demo" style="width:600px;height:600px"></div>
                    </div>
                    <div class="col-md-8 col-md-offset-2 pred-btn-container text-center">

                        <input type="file" id="upload" style="display: none;">

                        <button class="btn btn-primary btn-file browse-btn">
                            Browse
                        </button>

                        <button class="btn btn-success upload-result">Predict Image</button>
                        <button class="btn btn-success create-pdf">Create PDF</button>
                    </div>

                    <div class="col-md-8 col-md-offset-5 prediction-result">

                        <span class="pessimistic"></span>
                        <br />
                        <span class="optimistic"></span>
                        <br />
                        <span class="real"></span>
                    </div>

                </div>


            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

{% endblock %}