{% extends 'site_template.html' %}

{% block body %}
<div id="page-wrapper">
    <div class="container-fluid">
	<div class="panel panel-default">
	  <div class="panel-heading">Upload Your Image</div>
	  <div class="panel-body">

	  	<div class="row">
	  		<div class="col-md-4 text-center">
				<div id="upload-demo" style="width:350px"></div>
	  		</div>
	  		<div class="col-md-4" style="padding-top:30px;">
				<strong>Select Image:</strong>
				<br/>
				<input type="file" id="upload">
				<br/>
				<button class="btn btn-success upload-result">Predict Image</button>
	  		</div>
<!--	  		<div class="col-md-4" style="">-->
<!--				<div id="upload-demo-i" style="background:#e1e1e1;width:300px;padding:30px;height:300px;margin-top:30px"></div>-->
<!--	  		</div>-->
	  	</div>


	  </div>
</div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<script>
    function readURL(input)
    {
        if (input.files && input.files[0])
        {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img-input')
                    .attr('src', e.target.result)
                    .width(600)
                    .height(600);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function ProcessImage()
    {
        var form_data = new FormData($('#FileForm')[0]);
        console.log(form_data)
        $.ajax({
            type: 'POST',
            url: '/api/predict',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function (data) {
                console.log(data);
                $("#status").text(data);
            },
        });
    }


    $uploadCrop = $('#upload-demo').croppie({
    enableExif: true,
    viewport: {
        width: 200,
        height: 200,
        type: 'circle'
    },
    boundary: {
        width: 300,
        height: 300
    }
});


$('#upload').on('change', function () {
	var reader = new FileReader();
    reader.onload = function (e) {
    	$uploadCrop.croppie('bind', {
    		url: e.target.result
    	}).then(function(){
    		console.log('jQuery bind complete');
    	});

    }
    reader.readAsDataURL(this.files[0]);
});


$('.upload-result').on('click', function (ev) {
	$uploadCrop.croppie('result', {
		type: 'canvas',
		size: 'viewport'
	}).then(function (resp) {

         $.ajax({
            type: 'POST',
            url: '/api/predict',
            data: resp,
            dataType: 'json',
            contentType: false,
            cache: false,
            async: false,
            success: function (resp) {
                console.log(resp);
                $("#status").text(resp);
            },
        });

	});
});

</script>

{% endblock %}

